body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  flex-direction: column;
  text-align: center;
}

input {
  margin-bottom: 20px;
}